<div class="container">
  <div class="row new-review">
    <div class="col-lg-10">
      <!--エラーメッセージ-->
      <div style="font-size: 20px;">
        <%= render "layouts/error_messages", model: @review %>
      </div>
      <!--レビュー入力フォーム-->
      <%= form_with model: @review, url: comic_reviews_path, method: :post, local: true do |f| %>

        <!--コミックコードの送信-->
        <p><%= f.hidden_field :comic_id, value: @comic.id %></p>

        <!--評価-->
        <div class="review-group" id="star">
          <h4><%= f.label "評価" %></h4>
          <p><%= f.hidden_field :rate, id: :review_star %></p>
        </div>

        <!--評価javascript-->
        <script>
          $('#star').raty({
            size:      36,
            starOff:   "<%= asset_path('star-off.png') %>",
            starOn:    "<%= asset_path('star-on.png') %>",
            starHalf:  "<%= asset_path('star-half.png') %>",
            scoreName: 'review[rate]',
            half:      true,
          });
        </script>

        <!--レビュー内容-->
        <div class="review-group">
          <h4><%= f.label "レビュー" %></h4>
          <p>
            <%= f.text_area :review, class: "form-control", :size => "60x4", placeholder: "レビュー内容はこちら" %>
          </p>
        </div>

        <!--確認ボタン-->
        <div>
          <p class="review-btn">
            <%= f.submit "投稿する", class: "btn btn-outline-secondary btn-lg" %>
          </p>
        </div>

      <% end %>
      <!--/入力フォーム-->

    </div>
  </div>
</div>
